<div id="counter-event-example">
  <p>{{ total }}</p>
  <p>{{ mtotal }}</p>
  <button-counter v-on:increment="incrementTotal" v-on:decrement="decrementTotal"></button-counter>
  <button-counter v-on:increment="incrementTotal" v-on:decrement="decrementTotal"></button-counter>
  <input type="text" v-model.number="num" @keyup="changeVal" />
</div>
<script>
  Vue.component('button-counter', {
    template: '<button v-on:click="incrementCounter">{{ counter }}</button>',
    data: function() {
      return {
        counter: 0,
        test: 'test'
      }
    },
    methods: {
      incrementCounter: function() {
        this.counter += 1
        this.$emit('increment')
        this.$emit('decrement')
      }
    },
  })

  new Vue({
    el: '#counter-event-example',
    data: {
      total: 0,
      mtotal: 0,
      num: 1
    },
    methods: {
      incrementTotal: function() {
        this.total += this.num;
      },
      decrementTotal: function() {
        this.mtotal -= this.num;
      },
      changeVal: function() {

      }
    }
  })
</script>